pip
snakemake~=3.11
pyyaml~=3.12
python-dotenv==0.6.*
click~=6.7
Sphinx~=1.5
coverage~=4.3
flake8==3.2.*
matplotlib~=2.0.0rc2
numpy==1.11.*
pandas==0.19.*
xarray==0.9.*
NetCDF4~=1.2
h5py~=2.6
requests~=2.12
xlrd~=1.0
ipython~=5.1
ipykernel
scipy~=0.18
scikit-learn~=0.18
pweave~=0.30a1
tabulate
-e git+https://github.com/tychobismeijer/factor_rotation.git#egg=factor_rotation
